/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');
@font-face {
    font-family: '../fonts/Uni Neue';
    src: url('../fonts/UniNeueHeavy.eot');
    src: local('../fonts/Uni Neue Heavy'), local('../fonts/UniNeueHeavy'), url('../fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueHeavy.woff2') format('woff2'), url('../fonts/UniNeueHeavy.woff') format('woff'), url('../fonts/UniNeueHeavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/Uni Neue Book';
    src: url('../fonts/UniNeueBook.eot');
    src: local('../fonts/Uni Neue Book'), local('../fonts/UniNeueBook'), url('../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBook.woff2') format('woff2'), url('../fonts/UniNeueBook.woff') format('woff'), url('../fonts/UniNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.eot');
    src: local('../fonts/Uni Neue Regular'), local('../fonts/UniNeueRegular'), url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueRegular.woff2') format('woff2'), url('../fonts/UniNeueRegular.woff') format('woff'), url('../fonts/UniNeueRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueLight-Italic.eot');
    src: local('../fonts/Uni Neue Light Italic'), local('../fonts/UniNeueLight-Italic'), url('../fonts/UniNeueLight-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueLight-Italic.woff2') format('woff2'), url('../fonts/UniNeueLight-Italic.woff') format('woff'), url('../fonts/UniNeueLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueLight.eot');
    src: local('../fonts/Uni Neue Light'), local('../fonts/UniNeueLight'), url('../fonts/UniNeueLight.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueLight.woff2') format('woff2'), url('../fonts/UniNeueLight.woff') format('woff'), url('../fonts/UniNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold.eot');
    src: local('../fonts/Uni Neue Bold'), local('../fonts/UniNeueBold'), url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBold.woff2') format('woff2'), url('../fonts/UniNeueBold.woff') format('woff'), url('../fonts/UniNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueHeavy-Italic.eot');
    src: local('../fonts/Uni Neue Heavy Italic'), local('../fonts/UniNeueHeavy-Italic'), url('../fonts/UniNeueHeavy-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueHeavy-Italic.woff2') format('woff2'), url('../fonts/UniNeueHeavy-Italic.woff') format('woff'), url('../fonts/UniNeueHeavy-Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue Book';
    src: url('../fonts/UniNeueBook-Italic.eot');
    src: local('../fonts/Uni Neue Book Italic'), local('../fonts/UniNeueBook-Italic'), url('../fonts/UniNeueBook-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBook-Italic.woff2') format('woff2'), url('../fonts/UniNeueBook-Italic.woff') format('woff'), url('../fonts/UniNeueBook-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBlack-Italic.eot');
    src: local('../fonts/Uni Neue Black Italic'), local('../fonts/UniNeueBlack-Italic'), url('../fonts/UniNeueBlack-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBlack-Italic.woff2') format('woff2'), url('../fonts/UniNeueBlack-Italic.woff') format('woff'), url('../fonts/UniNeueBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold-Italic.eot');
    src: local('../fonts/Uni Neue Bold Italic'), local('../fonts/UniNeueBold-Italic'), url('../fonts/UniNeueBold-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBold-Italic.woff2') format('woff2'), url('../fonts/UniNeueBold-Italic.woff') format('woff'), url('../fonts/UniNeueBold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular-Italic.eot');
    src: local('../fonts/Uni Neue Regular Italic'), local('../fonts/UniNeueRegular-Italic'), url('../fonts/UniNeueRegular-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueRegular-Italic.woff2') format('woff2'), url('../fonts/UniNeueRegular-Italic.woff') format('woff'), url('../fonts/UniNeueRegular-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueThin.eot');
    src: local('../fonts/Uni Neue Thin'), local('../fonts/UniNeueThin'), url('../fonts/UniNeueThin.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueThin.woff2') format('woff2'), url('../fonts/UniNeueThin.woff') format('woff'), url('../fonts/UniNeueThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBlack.eot');
    src: local('../fonts/Uni Neue Black'), local('../fonts/UniNeueBlack'), url('../fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueBlack.woff2') format('woff2'), url('../fonts/UniNeueBlack.woff') format('woff'), url('../fonts/UniNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueThin-Italic.eot');
    src: local('../fonts/Uni Neue Thin Italic'), local('../fonts/UniNeueThin-Italic'), url('../fonts/UniNeueThin-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/UniNeueThin-Italic.woff2') format('woff2'), url('../fonts/UniNeueThin-Italic.woff') format('woff'), url('../fonts/UniNeueThin-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

body {
    letter-spacing: -0.04em;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
}


/*header start*/

.header {
    width: 100%;
    height: 1099px;
    background-image: url('../img/header_bg.png');
    background-position: center;
    background-size: cover;
    @media (max-width: 425px) {
        height: 800px;
    }
    .header_roof {
        display: flex;
        justify-content: space-between;
        padding-top: 95px;
        @media (max-width: 425px) {
            padding-top: 40px;
        }
        .logo {
            width: 20%;
            cursor: pointer;
            font-family: 'Uni Neue';
            font-size: 47px;
            font-weight: 900;
            line-height: 17px;
            color: #ffffff;
            @media (max-width: 785px) {
                line-height: 40px;
            }
        }
        .nav_menu {
            @media (max-width: 785px) {
                display: none;
            }
            width: 80%;
            color: #ffffff;
            font-family: 'Ubuntu';
            font-size: 25px;
            font-weight: 700;
            ul {
                height: 50px;
                display: flex;
                justify-content: flex-end;
                li {
                    margin-right: 50px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        font-size: 30px;
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.4s;
                    }
                }
                li:nth-child(4) {
                    margin: 0;
                }
            }
        }
        .burger {
            width: 50px;
            height: 50px;
            display: none;
            padding-top: 2px;
            cursor: pointer;
            @media (max-width: 785px) {
                display: block;
            }
            li {
                width: 98%;
                height: 5px;
                background-color: #fff;
                &:nth-child(1) {
                    margin-bottom: 10px;
                    transition-timing-function: ease-in;
                    transition-duration: 0.2s;
                }
                &:nth-child(3) {
                    margin-top: 10px;
                    transition-timing-function: ease-in;
                    transition-duration: 0.2s;
                }
            }
        }
        .burger_active {
            li {
                width: 98%;
                height: 5px;
                background-color: #fff;
                &:nth-child(1) {
                    margin-bottom: 15px;
                    transition-timing-function: ease-in;
                    transition-duration: 0.2s;
                }
                &:nth-child(3) {
                    margin-top: 15px;
                    transition-timing-function: ease-in;
                    transition-duration: 0.2s;
                }
            }
        }
    }
    .nav_menu_mobile {
        width: 100%;
        height: 300px;
        display: none;
        transition-timing-function: ease-in;
        transition-duration: 0.4s;
    }
    .unhidden {
        opacity: 0.8;
        display: none;
        background-color: rgba(23, 6, 70, 0.61);
        transition-timing-function: ease-in;
        transition-duration: 0.4s;
        @media (max-width: 785px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        li {
            font-size: 35px;
            color: #fff;
            margin-top: 30px;
            font-family: 'Ubuntu';
        }
    }
    h1 {
        margin-top: 330px;
        color: #ffffff;
        font-family: "Ubuntu";
        font-size: 70px;
        line-height: 100px;
        font-weight: 700;
        @media (max-width: 425px) {
            font-size: 60px;
            margin-top: 100px;
        }
    }
    p {
        color: #ffffff;
        font-family: "Ubuntu";
        font-size: 40px;
        line-height: 17px;
        font-weight: 300;
        letter-spacing: -0.04em;
        margin-top: 40px;
    }
    .header_bottom_btn {
        margin: 0 auto;
        width: 36px;
        height: 55px;
        background-color: transparent;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        animation: jump 1.2s ease-in infinite;
        @media (max-width: 425px) {
            animation-name: jump_mobile;
        }
        @keyframes jump {
            0% {
                margin-top: 400px;
            }
            50% {
                margin-top: 380px;
            }
            100% {
                margin-top: 400px;
            }
        }
        @keyframes jump_mobile {
            0% {
                margin-top: 220px;
            }
            50% {
                margin-top: 200px;
            }
            100% {
                margin-top: 220px;
            }
        }
    }
}


/*header end*/

.main {
    width: 100%;
    height: 100%;
    .main_content {
        hr {
            width: 50px;
            height: 2px;
            background-color: #4a4a4a;
            margin-top: 20px;
        }
        width: 100%;
        height: 100%;
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: 'Ubuntu';
            font-size: 60px;
            font-weight: 700px;
            color: #303030;
        }
        p {
            font-family: 'Ubuntu';
            font-size: 30px;
            line-height: 17px;
            margin-top: 15px;
            font-weight: 500;
            color: #787878;
        }
        .services {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 130px;
            @media(max-width: 1024px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .services_block {
                padding-left: 30px;
                padding-right: 30px;
                width: 33.3333%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                @media(max-width: 1024px) {
                    flex-direction: column;
                    width: 100%;
                    margin-top: 150px;
                }
                .block_title {
                    p {
                        font-size: 45px;
                        font-weight: 700;
                        line-height: 1.2;
                        margin-top: 70px;
                        margin-bottom: 70px;
                        @media(max-width: 1024px) {
                            margin-top: 50px;
                            margin-bottom: 60px;
                        }
                        @media(max-width: 785px) {
                            margin-top: 50px;
                            margin-bottom: 30px;
                        }
                    }
                }
                .block_subtitle {
                    p {
                        font-size: 25px;
                        line-height: 1.2;
                        font-weight: 400;
                        color: #5f5f5f;
                        text-align: start;
                    }
                }
            }
        }
        .services_btn_container {
            margin: 0 auto;
            width: 300px;
            height: 65px;
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: radial-gradient(#5d1a78, #300ab8);
            border-radius: 50px;
            font-family: "Uni Neue";
            color: #fff;
            font-size: 23px;
            font-weight: 900;
            letter-spacing: normal;
            transition-timing-function: ease-in-out;
            transition-duration: 0.5s;
            cursor: pointer;
            &:hover {
                width: 330px;
                transition-timing-function: ease-in-out;
                transition-duration: 0.5s;
            }
        }
        .works {
            margin-top: 150px;
            padding-top: 30px;
            height: 100%;
            width: 100%;
            background-color: #ebebeb;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .works_photo_floor {
                margin-top: 20px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                @media(max-width: 1024px) {
                    flex-direction: column;
                    align-items: center;
                }
                .works_photo_elem {
                    width: 33.3333%;
                    height: 350px;
                    background-color: gray;
                    margin: 15px;
                    position: relative;
                    perspective: 1000px;
                    border: 1px solid #300ab8;
                    @media(max-width: 1024px) {
                        width: 100%;
                    }
                    @media(min-width: 1600px) {
                        height: 500px;
                    }
                    .front-side-img,
                    .back-side-img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 1s;
                    }
                    .front-side-img img {
                        max-width: 100%;
                        min-width: 100%;
                        height: 100%;
                    }
                    .back-side-img img {
                        max-width: 100%;
                        min-width: 100%;
                        height: 100%;
                        transform: scaleX(-1);
                        /* Отражаем изображение по горизонтали */
                    }
                    .back-side-img {
                        transform: rotateY(180deg);
                    }
                }
                .works_photo_elem:hover .front-side-img {
                    transform: rotateY(180deg);
                }
                .works_photo_elem:hover .back-side-img {
                    transform: rotateY(360deg);
                }
            }
        }
        .ref {
            padding-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .ref_inner {
                margin-top: 65px;
                width: 100%;
                height: 350px;
                display: flex;
                @media(max-width: 563px) {
                    flex-direction: column;
                    height: 100%;
                }
                .ref_inner_img {
                    height: 100%;
                    width: 35%;
                    background-size: cover;
                    position: relative;
                    background-position: center;
                    cursor: pointer;
                    @media(max-width: 425px) {
                        width: 100%;
                        height: 350px;
                    }
                    -webkit-transition: all 1s ease;
                    transition: all 1s ease;
                    &:hover {
                        transform: rotate(10deg);
                    }
                }
                .ref_inner_text {
                    width: 65%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 50px;
                    @media(max-width: 425px) {
                        width: 100%;
                        margin: 0;
                    }
                    p:nth-child(1) {
                        font-size: 45px;
                        font-weight: 700;
                        color: #303030;
                    }
                    p:nth-child(2) {
                        font-size: 25px;
                        line-height: 1.2;
                        font-weight: 300;
                        color: #5f5f5f;
                        margin-top: 35px;
                    }
                }
            }
        }
        .allies {
            width: 100%;
            height: 200px;
            align-items: flex-end;
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
            img {
                cursor: pointer;
                width: 160px;
                height: 75px;
                transition-timing-function: ease-in-out;
                transition-duration: 0.3s;
            }
            img:hover {
                margin-bottom: 20px;
                transition-timing-function: ease-in-out;
                transition-duration: 0.3s;
            }
            @media(max-width: 1024px) {
                display: none;
            }
        }
        .allies_mobile {
            margin-top: 150px;
            width: 100%;
            display: none;
            @media(max-width: 1024px) {
                display: block;
            }
            @media(max-width: 540px) {
                display: none;
            }
            .allies_mobile_floor {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .allies_mobile_sm {
            width: 100%;
            display: none;
            @media(max-width: 540px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 150px;
            }
        }
        .subfooter {
            width: 100%;
            height: 850px;
            background-color: #000000;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 30px;
                color: #fff;
                font-weight: 700;
                margin-top: 150px;
            }
            .form {
                width: 70%;
                display: flex;
                flex-direction: column;
                @media(max-width: 1024px) {
                    width: 95%;
                }
                .upper_input {
                    margin-top: 70px;
                    display: flex;
                    justify-content: space-between;
                    @media(max-width: 1024px) {
                        flex-direction: column;
                        align-items: center;
                        margin-top: 40px;
                    }
                    input {
                        width: 45%;
                        background-color: #000000;
                        color: #fff;
                        padding: 10px;
                        border-bottom: 2px solid #c6c6c6;
                        font-size: 25px;
                        cursor: pointer;
                        @media(max-width: 1024px) {
                            width: 100%;
                            margin-top: 30px;
                        }
                        &:hover {
                            transition-timing-function: ease-in;
                            transition-duration: 0.3s;
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
                .down_input {
                    width: 100%;
                    margin-top: 150px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    @media(max-width: 1024px) {
                        margin-top: 50px;
                    }
                    textarea {
                        width: 100%;
                        background-color: #000000;
                        color: #fff;
                        height: 200px;
                        font-size: 25px;
                        border-bottom: 2px solid #c6c6c6;
                        cursor: pointer;
                        @media(max-width: 1024px) {
                            width: 100%;
                            height: 100px;
                        }
                        &:hover {
                            transition-timing-function: ease-in;
                            transition-duration: 0.3s;
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
                button {
                    margin: 0 auto;
                    margin-top: 75px;
                    width: 230px;
                    height: 70px;
                    font-size: 30px;
                    background-color: #202020;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 700;
                    transition-timing-function: ease-out;
                    transition-duration: 0.3s;
                    &:hover {
                        background-color: #fff;
                        color: #000000;
                        transition-timing-function: ease-out;
                        transition-duration: 0.3s;
                    }
                }
            }
        }
        .footer {
            height: 200px;
            background-size: cover;
            background-position: center;
            width: 100%;
            @media(max-width: 768px) {
                height: 500px;
                padding-top: 20px;
            }
            .footer_inner {
                margin: 0 auto;
                width: 75%;
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                @media(max-width: 768px) {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 90%;
                    padding-left: 40px;
                }
                p {
                    font-size: 47px;
                    font-weight: 900;
                    color: #fff;
                }
                .adress {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 17px;
                        font-weight: 700;
                    }
                }
                .contacts {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 17px;
                        font-weight: 700;
                        position: relative;
                    }
                    p:nth-child(1)::before {
                        content: '';
                        position: absolute;
                        width: 28px;
                        height: 25px;
                        right: 135px;
                        background-image: url("../img/forma_1_579.png");
                        background-repeat: no-repeat;
                    }
                    p:nth-child(2)::before {
                        content: '';
                        position: absolute;
                        width: 28px;
                        height: 25px;
                        right: 135px;
                        background-image: url("../img/forma_1_578.png");
                        background-repeat: no-repeat;
                    }
                }
                .socials {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .logos {
                        img:nth-child(1) {
                            margin-right: 20px;
                        }
                        img:nth-child(2) {
                            margin-right: 20px;
                        }
                        img:nth-child(3) {
                            margin-right: 20px;
                        }
                    }
                    p {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}